<div class="reset-password-container">
  <!-- Animated Background with Floating Icons -->
  <div class="animated-background">
    <!-- Security-related icons -->
    <i class="material-icons floating-icon" style="top: 15%; left: 10%; font-size: 50px; --duration: 4s;">lock_reset</i>
    <i class="material-icons floating-icon" style="top: 25%; right: 15%; font-size: 65px; --duration: 5s;">password</i>
    <i class="material-icons floating-icon" style="bottom: 20%; left: 20%; font-size: 55px; --duration: 3.5s;">security</i>
    <i class="material-icons floating-icon" style="top: 45%; right: 25%; font-size: 45px; --duration: 4.2s;">shield</i>
    
    <!-- Additional security icons -->
    <i class="material-icons floating-icon" style="bottom: 30%; right: 10%; font-size: 60px; --duration: 6s;">key</i>
    <i class="material-icons floating-icon" style="top: 60%; left: 15%; font-size: 50px; --duration: 5.5s;">lock</i>
    <i class="material-icons floating-icon" style="bottom: 40%; left: 30%; font-size: 70px; --duration: 7s;">verified_user</i>
    <i class="material-icons floating-icon" style="top: 30%; left: 40%; font-size: 65px; --duration: 5.8s;">admin_panel_settings</i>
  </div>

  <div class="reset-form-card">
    <div class="icon-container">
      <img src="assets/reset-password-icon.png" alt="Reset Password Icon" class="reset-icon" />
    </div>

    <h2>Create New Password</h2>
    <p class="description" *ngIf="!error">
      Please enter your new password below
    </p>

    <div *ngIf="error" class="error-message text-center">
      {{ error }}
    </div>

    <div *ngIf="success" class="success-message text-center">
      {{ success }}
      <p>Redirecting to login...</p>
    </div>

    <form (ngSubmit)="onSubmit()" *ngIf="!success">
      <div class="form-group">
        <label for="password" class="required">
          <i class="material-icons" style="vertical-align: middle; font-size: 18px; margin-right: 5px;">lock</i>
          New Password:
        </label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter your new password"
          [(ngModel)]="password"
          required
          minlength="8"
          #passwordField="ngModel"
        />
        <div class="error-message" *ngIf="passwordField.invalid && passwordField.touched">
          Password must be at least 8 characters long
        </div>
      </div>

      <div class="form-group">
        <label for="password_confirmation" class="required">
          <i class="material-icons" style="vertical-align: middle; font-size: 18px; margin-right: 5px;">lock_clock</i>
          Confirm Password:
        </label>
        <input
          type="password"
          id="password_confirmation"
          name="password_confirmation"
          class="form-control"
          placeholder="Confirm your new password"
          [(ngModel)]="passwordConfirmation"
          required
          #confirmField="ngModel"
        />
        <div class="error-message" *ngIf="passwordMismatch">
          Passwords do not match
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn-submit" [disabled]="loading">
          <i class="material-icons" style="vertical-align: middle; font-size: 18px; margin-right: 5px;">check_circle</i>
          {{ loading ? 'Resetting Password...' : 'Reset Password' }}
        </button>
      </div>
    </form>

    <div class="links text-center" *ngIf="!success">
      <button class="btn-back" (click)="navigateToLogin()">
        <i class="material-icons" style="vertical-align: middle; font-size: 18px; margin-right: 5px;">arrow_back</i>
        Back to Login
      </button>
    </div>
  </div>
</div>