<div class="dashboard-header" [ngClass]="{'header-shifted': !sidebarOpen}">
  <div class="sidebar-toggle-container">
    <span class="welcome-message" (click)="toggleSidebar()">Welcome Admin!</span>
    <button class="sidebar-toggle-inside" (click)="toggleSidebar()">☰</button>
  </div>
</div>

<div class="dashboard-container">
  <div class="sidebar" [class.open]="sidebarOpen">
    <div class="logo">
      <img src="assets/matain-logo-copy.png" alt="Worker Icon" class="login-icon" />
      <p class="pol">User Management System</p>
    </div>
    <hr class="logo-line" />
    <ul>
      <h4 class="menu">Menu</h4>
      <li class="dash">
        <a routerLink="/dashboard-management" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-tachometer-alt"></i> Dashboard
        </a>
      </li>
      <li class="prof">
        <a routerLink="/profile-management" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-user"></i> Profile
        </a>
      </li>
      <li class="rbac">
        <a routerLink="/role-based-access-control" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-users-cog"></i> Role-Based Access
        </a>
      </li>
      <li class="UV">
        <a routerLink="/user-verification" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-check-circle"></i> Verifications
        </a>
      </li>
      <li class="chat">
        <a routerLink="/admin-messages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-comment"></i> Messages
        </a>
      </li>
    </ul>
    <div class="logout">
      <a (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </div>
  </div>

  <div class="main-content" [ngStyle]="{ 'margin-left': sidebarOpen ? '230px' : '0' }">
    <h2 class="dashboard-title">DASHBOARD</h2>
    <div class="cards-container">
      <div class="dashboard-card orange-card">
        <h3 class="card-value">{{ totalUsers + totalSkilledWorkers }}</h3>
        <p class="card-title">Total Account Registered</p>
      </div>
      <div class="dashboard-card green-card">
        <h3 class="card-value">{{ totalUsers }}</h3>
        <p class="card-title">Total Users</p>
      </div>
      <div class="dashboard-card red-card">
        <h3 class="card-value">{{ totalSkilledWorkers }}</h3>
        <p class="card-title">Total Skilled Workers</p>
      </div>
    </div>
    <div class="chart-container">
      <div class="chart-box">
        <canvas baseChart 
                [data]="barChartData" 
                [options]="barChartOptions" 
                [type]="'bar'">
        </canvas>
      </div>
    </div>
  </div>
</div>