<div class="forgot-password-container">
  <!-- Animated Background with Floating Icons -->
  <div class="animated-background">
    <!-- Email and Security related icons -->
    <i class="material-icons floating-icon" style="top: 15%; left: 10%; font-size: 50px; --duration: 4s;">mail</i>
    <i class="material-icons floating-icon" style="top: 25%; right: 15%; font-size: 65px; --duration: 5s;">lock_reset</i>
    <i class="material-icons floating-icon" style="bottom: 20%; left: 20%; font-size: 55px; --duration: 3.5s;">mark_email_read</i>
    <i class="material-icons floating-icon" style="top: 45%; right: 25%; font-size: 45px; --duration: 4.2s;">security</i>
    
    <!-- Additional icons -->
    <i class="material-icons floating-icon" style="bottom: 30%; right: 10%; font-size: 60px; --duration: 6s;">contact_mail</i>
    <i class="material-icons floating-icon" style="top: 60%; left: 15%; font-size: 50px; --duration: 5.5s;">key</i>
    <i class="material-icons floating-icon" style="bottom: 40%; left: 30%; font-size: 70px; --duration: 7s;">verified_user</i>
    <i class="material-icons floating-icon" style="top: 30%; left: 40%; font-size: 65px; --duration: 5.8s;">shield</i>
  </div>

  <div class="forgot-form-card">
    <div class="icon-container">
      <img src="assets/reset-password-icon.png" alt="Reset Password Icon" class="reset-icon" />
    </div>

    <h2>Forgot Password?</h2>
    <p class="description">
      Enter your email address and we'll send you instructions to reset your password.
    </p>

    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email" class="required">
          <i class="material-icons" style="vertical-align: middle; font-size: 18px; margin-right: 5px;">email</i>
          Email Address:
        </label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter your email address"
          [(ngModel)]="email"
          required
          #emailField="ngModel"
        />
        <div class="error-message" *ngIf="emailField.invalid && emailField.touched">
          Please enter a valid email address
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn-submit" [disabled]="loading || !email">
          <i class="material-icons" style="vertical-align: middle; font-size: 18px; margin-right: 5px;">send</i>
          {{ loading ? 'Sending...' : 'Send Reset Link' }}
        </button>
      </div>

      <div class="message-container">
        <div class="success-message" *ngIf="successMessage">
          <i class="material-icons" style="vertical-align: middle; font-size: 18px; margin-right: 5px;">check_circle</i>
          {{ successMessage }}
        </div>
        <div class="error-message" *ngIf="errorMessage">
          <i class="material-icons" style="vertical-align: middle; font-size: 18px; margin-right: 5px;">error</i>
          {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="links text-center">
      <button class="btn-back" (click)="navigateToLogin()">
        <i class="material-icons" style="vertical-align: middle; font-size: 18px; margin-right: 5px;">arrow_back</i>
        Back to Login
      </button>
    </div>
  </div>
</div>