<div class="page-container">
  <div *ngIf="worker; else noWorker" class="worker-container">
    <div class="worker-card">
      <div class="worker-header">
        <img [src]="worker.image" alt="Profile Image" class="profile-image" />
        <button class="edit-btn" (click)="openFileDialog()">
          <i class="fas fa-camera"></i>
        </button>
        <input type="file" id="fileInput" style="display:none" (change)="onFileChange($event)" />
        <div class="worker-details">
          <h1 class="worker-name">{{ worker.name }}</h1>
          <p class="worker-location">
            <mat-icon>place</mat-icon> {{ worker.location }}
          </p>
        </div>
      </div>
      <div class="worker-info">
        <div class="info-item">
          <mat-icon>schedule</mat-icon>
          <p>Availability: {{ worker.availability }}</p>
        </div>
        <div class="info-item">
          <mat-icon>phone</mat-icon>
          <p>Contact: {{ worker.phone }}</p>
        </div>
        <div class="info-item">
          <mat-icon>email</mat-icon>
          <p>Email: {{ worker.email }}</p>
        </div>
      </div>
      <div class="info-item">
        <mat-icon>star</mat-icon>
        <p>Years of Experience: {{ worker.experience }}</p>
      </div>
      <div class="info-item" *ngIf="worker.skills?.length">
        <mat-icon>work</mat-icon>
        <p>Skills:</p>
      </div>
      <div *ngIf="worker.workDone" class="worker-work-done">
        <h3>Work Done</h3>
        <p>{{ worker.workDone }}</p>
      </div>
      <h3>Work Examples</h3>
      <div class="worker-work-image" *ngFor="let work of worker?.works">
        <h4>{{ work.title }}</h4>
        <img [src]="work.image" alt="Work Image" class="work-image" width="200px" />
      </div>

      <div class="reviews-section">
        <h3>Reviews and Ratings</h3>
        <div class="review" *ngFor="let review of worker?.reviews">
          <div class="review-header">
            <h4 style="margin-top: 20px;">{{ review.name }}</h4>
            <div class="star-rating">
              <i
                *ngFor="let star of [].constructor(5); let i = index"
                class="star"
                [ngClass]="{ filled: i < review.rating }"
              >
                ★
              </i>
            </div>
          </div>
          <p class="review-text">{{ review.text }}</p>
        </div>
      </div>

      <!-- Button to open the edit modal -->
      <button mat-raised-button color="primary" class="btn btn-edit" (click)="openEditModal()">Edit Profile</button>
    </div>
  </div>

  <!-- Edit Modal -->
  <div *ngIf="isEditModalOpen" class="modal">
    <div class="modal-content">
      <h3>Edit Profile</h3>
      <form (ngSubmit)="saveChanges()">
        <div class="form-group">
          <label>Name:</label>
          <input type="text" [(ngModel)]="editWorker.name" name="name" />
        </div>
        <div class="form-group">
          <label>Skill:</label>
          <input type="text" [(ngModel)]="editWorker.job" name="job" />
        </div>
        <div class="form-group">
          <label>Location:</label>
          <input type="text" [(ngModel)]="editWorker.location" name="location" />
        </div><div class="form-group">
          <label>Availability:</label>
          <select [(ngModel)]="editWorker.availability" name="availability" class="form-control">
            <option [value]="1">Available</option>
            <option [value]="0">Unavailable</option>
          </select>
        </div>
        
        <div class="form-group">
          <label>Phone:</label>
          <input type="text" [(ngModel)]="editWorker.phone" name="phone" />
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="email" [(ngModel)]="editWorker.email" name="email" />
        </div>
        <div class="form-group">
          <label>Experience:</label>
          <input type="number" [(ngModel)]="editWorker.experience" name="experience" />
        </div>
        <div class="modal-actions">
          
        <button type="submit" mat-raised-button color="primary" class="btn">Save</button>
        <button type="button" mat-raised-button color="warn" class="btn" (click)="closeEditModal()">Cancel</button>
        </div>
      </form>
    </div>
  </div>

  <ng-template #noWorker>
    <div class="no-worker">Please Wait...</div>
  </ng-template>
</div>
