/* Container Styles */
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #f0f4ff, #cbd9ff);
  }
  
  /* Card Styles */
  .forgot-password-card {
    background: white;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  /* Icon Styling */
  .forgot-password-icon {
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
  }
  
  /* Heading and Description */
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .description {
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    font-size: 13px;
    color: #666;
    margin-bottom: 30px;
  }
  
  /* Form Styling */
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 85%;
    padding: 12px 0px;
    font-size: 14px;
    border: 2px solid #a0a0a0;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    transition: border-color 0.3s;
  }
  
  .form-control:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.3);
  }
  
  /* Button Styling */
  .btn-submit {
    width: 60%;
    padding: 12px;
    font-size: 16px;
    font-weight: bolder;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #0056b3;
  }
  
  /* Links */
  .links {
    margin-top: 20px;
  }
  
  .link {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin-top: 15px;
  }
  
  .link:hover {
    color: #0056b3;
    text-decoration: none;
  }