<div class="choices-container">
    <div class="choices-card">
      <h2>Choose Your Registration Type</h2>
      <div class="choices-options">
        <div class="choice" (click)="navigateToUserRegistration()">
          <div class="icon">
            <img src="assets/user-icon.jpg" alt="User Icon" />
          </div>
          <h3>Register for User</h3>
          <p>Register as a regular user.</p>
        </div>
        <div class="choice" (click)="navigateToSkilledRegistration()">
          <div class="icon">
            <img src="assets/skilled-worker.png" alt="Skilled Worker Icon" />
          </div>
          <h3>Register for Skilled Worker</h3>
          <p>Register as a skilled worker with additional services.</p>
        </div>
      </div>
    </div>
  </div>
  